---
#- name: Get information for the distributed port group 'segment-migrating-to-ocpvirt'
#  vmware.vmware_rest.vcenter_network_info:
#    filter_types: DISTRIBUTED_PORTGROUP
#  register: my_portgroup
#
#- name: Capture the distrivuted portgroup id to make network mappings
#  ansible.builtin.set_fact:
#    portgroup_id: "{{ my_portgroup.value[0].network }}"
    
- name: Create or update a NetworkMap
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: forklift.konveyor.io/v1beta1
      kind: NetworkMap
      metadata:
        name: "{{ networkmap_name }}"
        namespace: "{{ migration_namespace }}" # openshift-mtv
      spec:
        map:
          - destination:
              type: pod
            source:
              id: dvportgroup-2006
 #             id: "{{ portgroup_id }}"
        provider:
          destination:
            name: host
            namespace: "{{ migration_namespace }}" # openshift-mtv
          source:
            name: vmware
            namespace:  "{{ migration_namespace }}" #openshift-mtv


# - name: Capture the datastore id
#   set_fact:
#     datastore_id: "{{ all_the_datastores.value[0].datastore }}"

# - name: Create or update a StorageMap
#   kubernetes.core.k8s:
#     state: present
#     definition:
#       apiVersion: forklift.konveyor.io/v1beta1
#       kind: StorageMap
#       metadata:
#         name: "{{ storagemap_name }}"
#         namespace: "{{ migration_namespace }}"
#       spec:
#         map:
#           - destination:
#               storageClass: ocs-storagecluster-ceph-rbd
#             source:
#               id: "{{ datastore_id }}"
#         provider:
#           destination:
#             name: host
#             namespace: "{{ migration_namespace }}"
#           source:
#             name: vmware
#             namespace: "{{ migration_namespace }}"

- name: Get storage class information
  kubernetes.core.k8s_info:
    api_version: storage.k8s.io/v1
    kind: StorageClass
  register: storage_classes

- name: Find default storage class
  set_fact:
    default_storage_class: "{{ item.metadata.name }}"
  loop: "{{ storage_classes.resources }}"
  when:
    - item.metadata.annotations is defined
    - "'storageclass.kubernetes.io/is-default-class' in item.metadata.annotations"
    - item.metadata.annotations['storageclass.kubernetes.io/is-default-class'] == 'true'

- name: Print default storage class name
  debug:
    msg: "{{ default_storage_class }}"

- name: Create or update a StorageMap
  kubernetes.core.k8s:
    namespace: "{{ migration_namespace }}"
    definition: "{{ lookup('template', 'datastore.yaml.j2' ) | from_yaml }}"
    state: present

- name: Deploy Virt Plan
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: forklift.konveyor.io/v1beta1
      kind: Plan
      metadata:
        name: "{{ plan_name }}"
        namespace: "{{ migration_namespace }}"
      spec:
        archived: false
        description: ''
        map:
          network:
            name: "{{ networkmap_name }}"
            namespace: "{{ migration_namespace }}"
          storage:
            name: "{{ storagemap_name }}"
            namespace: "{{ migration_namespace }}"
        provider:
          destination:
            name: host
            namespace: "{{ migration_namespace }}"
          source:
            name: vmware
            namespace: "{{ migration_namespace }}"
        targetNamespace: "{{ migration_target_namespace }}"
        vms:
          - hooks: []
            id: vm-3005
          - hooks: []
            id: vm-3002
        warm: false

- name: Create a Migration manifest to run the Plan CR
  kubernetes.core.k8s:
    api_version: forklift.konveyor.io/v1beta1
    kind: Migration
    namespace: "{{ migration_namespace }}"
    name: "{{ plan_name }}"
    definition:
      metadata:
        name: "{{ plan_name }}"
        namespace: "{{ migration_namespace }}"
      spec:
        plan:
          name: "{{ plan_name }}"
          namespace: "{{ migration_namespace }}"
