---
apiVersion: forklift.konveyor.io/v1beta1
kind: StorageMap
metadata:
  name: "{{ storagemap_name }}"
  namespace: "{{ migration_namespace }}" # openshift-mtv
spec:
  map:
    - destination:
        storageClass: "{{ default_storage_class }}"
      source:
        id: datastore-12

  provider:
    destination:
      name: host
      namespace: "{{ migration_namespace }}"
    source:
      name: vmware
      namespace: "{{ migration_namespace }}"
